.navbar{
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;

}

.nav-logo img{
  width: 150px; /* Set the width of the logo image */
  height: 150px; /* Set the height of the logo image */
  border: 2px solid #333; /* Add a border to the logo */
  border-radius: 50%; /* Make the logo circular */
  display: block; /* Remove extra space below the image */
  margin: 0 auto; 
}

.navbar p {
  color: #171717;
  font-size: 38px;
  font-weight: 600;

}

.nav-menu{
  display: flex;
  align-items: center;
  gap: 50px;
  color: white;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;

}

.nav-menu hr{
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: #ff4141;
}


.nav-login-cart{
  display: flex;
  align-items: center;
  gap: 45px;
  color: blue;
  
}

.nav-login-cart button{
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.nav-login-cart button:active{
  background: #171717;
}

.nav-cart-count{
  width: 13px;
  height: 18px;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -53px;
  border-radius: 11px;
  font-size: 18px;
  background: red;
  color: white;

}

